@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');

*{
    font-family: 'Edu NSW ACT Foundation', cursive;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/fondo.jpg);
    background-repeat: repeat;
    background-position: relative;
    background-size: initial; 
}

p{
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 24px;
}

nav{
    background-color: rgb(0, 0, 0);
    background-position: 20%;
    padding: 10px 60px;
    height: auto;
    position: sticky;
    top: 0; 
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
    nav ul{
        list-style: none;
        display: flex;
    }
        nav ul li{
            margin-right: 10px;
        }
            nav ul li a{
                color: rgb(255, 255, 255);
                text-align: right;
                text-decoration: none;
                font-family: 'Edu NSW ACT Foundation', cursive;
                font-weight: 400;
                line-height: 2;
            }
                nav ul li a:hover{
                    text-decoration: underline;
                }

body nav a img{
    width: 100%;
    height: auto;
    margin-left: 0%;
}

h1,
h2,
h3{
    color: rgb(255, 255, 255);
    font-weight: 400;
}
footer{
    padding: 20px 30px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
    footer div a:hover{
        width: 20px;
        color: white;
        
    }
#contacto{ 
    background-color: rgba(0, 0, 0, 0.63);
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    line-height: 2;
}

.nav-boostrap{
    background-color: rgb(0, 0, 0);
    text-decoration: none;
}
    .nav-boostrap img{
        width: 200px;
    }

    .nav-boostrap li a{
        color: white;
        text-decoration: none;
    }
    
.bg-orangered{
    color: orangered;
}

.position{
    width: 317px;
    height: 350px;
}
@media (min-width:768px) and (max-width:1600px){
	.contacto-header img{
		margin-left: 400px;
	}
}
#presentacion{
    line-height: 2;
}

#intro{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.678);
    padding: 10px 60px;
    height: auto;
}
    #intro p{
        color: white;
    }

.menu-img{
    width: 310px;
    height: 310px;
}
.menu p{
    color: white;
}

.section-menu{
    padding: 0 20px 30px 30px;
}
    .section-menu a{
        color: rgb(134, 130, 132);
        font-size: 1.3em;
        text-decoration: none;
        margin-bottom: 4px;
        text-transform: lowercase;
    }
        .section-menu a:hover{
            color: rgb(255, 136, 0);
        }
    .section-menu span{
        display: block;
        color: rgb(255, 255, 255);
        margin: 10px 0;
        letter-spacing: 1px;
    }

    .section-menu select{
        color: rgb(255, 255, 255);
        border: none;
        background-color: rgb(230, 90, 25);
        margin-bottom: 10px;
        font-size: 1.4em;
    }

    .section-menu li{
        padding-left: 10px;
        list-style: none;
    }

.botones-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.botones-menu button{
    margin-left: 10px;
    background-color: rgb(221, 107, 0);
    color: white;
    padding: 6px;
    border: none;
    border-radius: 3px;
}

.botones-menu input{
    padding: 6px;
    border-radius: 3px;
    border: none;
    background-color: rgb(243, 245, 245);
}

.menu{
    display: grid;
    grid-template-columns:20% repeat(2,1fr);
    grid-template-rows: 80px repeat(4,300px);
    gap: 5px;
    grid-template-areas: 
    "botones botones botones"
    "section uno uno"
    "section dos dos"
    "section tres tres"
    "section cuatro cuatro";
}
    .menu .botones-menu{
        padding: 0 30px;
        grid-area: botones;
    }
    
    .menu .section-menu{
        grid-area: section;
    }

    .menu .plato1{
       grid-area: uno;
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       
    }  

    .menu .plato1 p{
        width: 50%;
        margin-left: 50px;
    }
    .menu .plato2 p{
        width: 50%;
        margin-left: 50px;
    }
    .menu .plato3 p{
        width: 50%;
        margin-left: 50px;
    }
    .menu .plato4 p{
        width: 50%;
        margin-left: 50px;
    }
    .menu .plato2{
        grid-area: dos;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
    }

    .menu .plato3{
       grid-area: tres;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       padding-top: 50px;
    }

    .menu .plato4{
       grid-area: cuatro;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       padding-top: 70px;
    }

    .menu section{
        border-radius: 10px;
    }

.footer-menu{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.bg-red{
    color: red;
}
.header--img{
    display: grid;
    column-gap: 2.5px;
    justify-items: center;
    grid-template-columns: repeat(2fr, 2fr, 2fr, 2fr);
    grid-template-rows: repeat(1fr);
    grid-template-areas: 
    "pastas costilla pizza empanadas";
}
    .header--img .pastas{
        grid-area: pastas;
        width: 330px;
        height: 330px;
    }   

    .header--img .costilla{
        grid-area: costilla;
        width: 330px;
        height: 330px;
    }
    
    .header--img .pizza{
        grid-area: pizza;
        width: 330px;
        height: 330px;
    }
    
    .header--img .empanadas{
        grid-area: empanadas;
        width: 330px;
        height: 330px;
    }

@media (width < 768px){
    .contacto-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
    }
        .contacto-grid .contacto-nav{
            grid-area: nav;
        }
        .contacto-grid .contacto-header{
            grid-area: header;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        .contacto-grid .contacto-main{
            grid-area: main;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 20px;
            margin-top: 10px;
            padding: 10px;
            border-radius: 4px;
        }
        .contacto-grid .contacto-footer{ 
            grid-area: "footer";
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 10px;
            width: auto;
            padding: 10px;
            border-radius: 4px;
        }
    nav{
        justify-content: center;
    }
        nav ul li{
            display: none;
        }
    .contacto-main label{
        justify-content: center;
        margin-top: 20px;
        font-size: 25px;
    }
    .contacto-main input[type="text"],
    .contacto-main input[type="email"],
    .contacto-main input[type="number"],
    .contacto-main textarea{
        border-radius: 5px;
        font-size: 20px;
    }
    .contacto-main input[type="reset"],
    .contacto-main input[type="submit"]{
        font-size: 20px;
        width: 150px;
        height: 30px;
        border-radius: 50px;
    }
    .header--img{
        display: grid;
        grid-template-columns:20% repeat(2,1fr);
        grid-template-rows: 80px repeat(2,300px);
        gap: 5px;
        grid-template-areas:
        "pastas costilla"
        "empanadas pizza";
    }
        .header--img .pastas{
            grid-area: pastas;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
        }
        .header--img .costilla{
            grid-area: costilla;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            
        }
        .header--img .pizza{
            grid-area: "pizza";
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        .header--img .empanadas{
            grid-area: "empanadas";
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        .header--img .pastas{
            width: 380px;
            height: 330px;
            margin-left: 250px;
        }
        .header--img .costilla{
            width: 330px;
            height: 330px;
            margin-left: 250px;
        }
        .header--img .pizza{
            width: 330px;
            height: 330px;
            margin-top: 250px;
            margin-left: 250px;
        }
        .header--img .empanadas{
            width: 380px;
            height: 330px;
            margin-top: 250px;
            margin-left: 250px;
            }
    .main-index{
        grid-area: main;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 20px;
        margin-top: 10px;
        padding: 10px;
        border-radius: 4px;
    }
    footer{
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        line-height: 22px;
        line-height: 2;
    }
    .menu{
        display: grid;
        grid-template-columns:20% repeat(2,1fr);
        grid-template-rows: 80px repeat(4,300px);
        gap: 5px;
        grid-template-areas:
        "botones botones botones"
        "uno uno uno"
        "dos dos dos"
        "tres tres tres"
        "cuatro cuatro cuatro";
    }
        .menu .botones-menu{
            grid-area: botones;
        }
        
        .menu .section-menu{
            display: none;
        }
    
        .menu .plato1{
           grid-area: uno;
           display: flex;
           flex-direction: row;
           margin: 10px;
           padding-bottom: 30px;     
        }  
    
        .menu .p-platos p{
            width: 50%;
            margin-left: 50px;
        }

        .menu .plato2{
            grid-area: dos;
            display: flex;
            flex-direction: row;
            margin: 10px;
            
        }
    
        .menu .plato3{
           grid-area: tres;
           display: flex;
           flex-direction: row;
           margin: 10px;
           padding-top: 30px; 
        }
    
        .menu .plato4{
           grid-area: cuatro;
           display: flex;
           flex-direction: row;
           margin: 10px;
           padding-top: 60px;
           
        }
    
        .menu section{
            border-radius: 10px;
        }

    .footer-menu{
        margin-top: 50px;
    }
}