*{
    $mainFont: 'Edu NSW ACT Foundation', cursive;
    box-sizing: border-box;
}

body{
    background-image: url(../img/fondo.jpg);
    background-repeat: repeat;
    background-position: relative;
    background-size: initial; 
}

body nav a img{
    width: 100%;
    height: auto;
    margin-left: 0%;
}

h1,
h2,
h3{
    color: $textoBlanco;
    font-weight: 400;
}

p{
    color: $textoNegro;
    font-weight: 300;
    font-size: 18px;
    line-height: $separarRenglones;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 24px;
}

footer{
    padding: 20px 30px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $colorSecundario;
}
    footer div a:hover{
        width: 20px;
        color: $textoBlanco
        
    }

.position{
    width: 317px;
    height: 350px;
}

.bg-orangered{
    color: $textoFooter;
}