$mainFont: 'Edu NSW ACT Foundation', cursive;

$colorPrincipal: orangered;
$colorSecundario: black;
$textoNegro: black;
$textoBlanco: white;
$textoFooter: orangered;
$separarRenglones: line-height 22px;